@font-face{
    src: url("../fonts/SFhamTTF.ttf");
    font-family: "hambak";
}
@font-face{
    src: url("../fonts/HeirofLightBold.ttf");
    font-family: "gameBold";
}
@font-face{
    src: url("../fonts/HeirofLightRegular.ttf");
    font-family: "gameRegular";
}
@font-face{
    src: url("../fonts/HBIOS-SYS.ttf");
    font-family: "dot";
}
@font-face{
    src: url("../fonts/NotoSansKR-Medium.ttf");
    font-family: "godicM";
}
@font-face{
    src: url("../fonts/NotoSansKR-VariableFont_wght.ttf");
    font-family: "godicThin";
}

.font-hambak{
    font-family: "hambak";
}
.font-game-thick{
    font-family: "gameBold";
}
.font-game-thin{
    font-family: "gameRegular";
}
.font-dot{
    font-family: "dot";
}
.font-godic-thin{
    font-family:"godicThin";
}
.font-godic-mid{
    font-family:"godicM";
}