
.slick-dots li.slick-active button:before{
    color : rgb(36, 212, 222);
}

.slick-dots li button:before{
    color : rgb(36, 212, 222);
}

.slick-arrow.slick-prev{
    width:30px;
    height:30px;
    left: -40px;
}

.slick-arrow.slick-next{
    width:30px;
    height:30px;
    right: -40px;
}

.slick-arrow.slick-prev::before{
    font-size: 30px;
}

.slick-arrow.slick-next::before{
    font-size: 30px;
}